<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 homepage_content">
    <h2>About</h2>
    <hr>
    <p>Hi I'm Simon Greenwood I am third year Law student with a passion for web
     development. Residing in Fleet, Hampshire, UK.</p>
    <p>I currently spend my days studying for a Law Degree and teaching myself
    different areas of web development, from back end programming (Ruby on Rails)
    to front end engineering (HTML, CSS, and jQuery/Javascript). By night
    you will find me Bartending!</p>
    <p>I'm abit of a tech junkie which is one of the subjects you will
    find me speaking about in my blog, aswell as my progress in becoming a
    web developer, which can hopefully help others on the same journey!</p>
    <p>You can find me speaking in 140 characters on
    Twitter &amp; sharing some code on Github.</p>
    </div>
    <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>

    <%@posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %d, %b") %></p>
    <% end %>
    </div>
    <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
     <%@projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %d, %b") %></p>
    <% end %>
    </div>
  </div>
