<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 homepage_content">
    <h2>About</h2>
    <hr>
    <p>Hi I'm Simon a rookie developer living in Fleet, Hampshire,
    UK.</p>
    <p>I am currently teaching myself to become a web developer and will be sharing my journey &amp;
    projects on the way.</p>
    <p>You can find me speaking in 140 characters on
    Twitter &amp; sharing some code on Github.</p>
    </div>
    <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>

    <%@posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %d, %b") %></p>
    <% end %>
    </div>
    <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
     <%@projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %d, %b") %></p>
    <% end %>
    </div>
  </div>
