<div class="wrapper wrapper_padding clearfix">
    <div class="col-1 homepage_content">
    <h2>About Me</h2>
    <hr>
    <p>Hi I'm Simon Greenwood, a third year Law student with a passion for web
     development, living in Fleet, Hampshire, UK.</p>
    <p>My days are spent teaching myself different areas of web development, from back end programming (Ruby on Rails, SQL)
    to front end engineering (HTML, CSS, and jQuery/Javascript). If I am not doing that my face will be
    buried in legal texts, then by night I head a team of bartenders, serving up joy.</p>
    <p>I'm abit of a tech junkie which is one of the subjects you will
    find me speaking about on my blog, aswell as my progress in becoming a
    web developer.</p>
    </div>
    <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>

    <%@posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %d, %b") %></p>
    <% end %>
    </div>
    <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
     <%@projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %d, %b") %></p>
    <% end %>
    </div>
  </div>
